body {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
  margin: 0;
}
p {
  font-size: 1.3em;
}
h2 {
  margin: 50px 0;
  font-size: 1.7em;
}
ul {
  max-width: 550px;
  text-align: left;
  margin: 0 auto 50px auto;
  font-size: 1.4em;
  font-weight: 200;
}
li {
  margin: 16px;
}

#main {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("/bg3.jpg");
  background-position: center;
  background-size: contain;
}
#title {
  font-size: 4em;
  margin-bottom: 0;
  font-family: "Lexend Giga", sans-serif;
}

#img-div {
  display: flex;
  background: rgba(34, 134, 210, 0.55);
  justify-content: space-evenly;
  padding: 1rem 2rem;
  margin: 0 auto;
  border-radius: 1px;
  max-width: 1300px;
  flex-direction: row;
}
#image {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
}
#image-caption {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
}

#tribute-link {
  color: #477ca7;
  text-decoration: none;
}
#tribute-link:hover {
  font-weight: bold;
  color: rgba(80, 82, 199, 0.69);
  text-decoration: underline;
}
